<%= form_for(@administrator) do |f| %>
  <% if @administrator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administrator.errors.count, "error") %> prohibited this administrator from being saved:</h2>

      <ul>
      <% @administrator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userid %><br />
    <%= f.number_field :userid %>
  </div>
  <div class="field">
    <%= f.label :employeeNum %><br />
    <%= f.number_field :employeeNum %>
  </div>
  <div class="field">
    <%= f.label :adminPin %><br />
    <%= f.number_field :adminPin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
